# System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Node / Build outputs
node_modules/
.next/
out/
.vercel/
dist/
build/

# Local environment files
.env*.local
